.card {
	margin: 0 auto !important;
	padding: 20px 44px !important;
	box-shadow: 0 4px 24px rgba(0, 0, 0, 0.06) !important;
    // overflow:unset;
	@media (max-width: 1300px) {
        width: 100%;
        padding: 0 !important;
    }
}